@using OnlineStore.Helpers
@using System.Security.Claims
@using OnlineStore.Models.WebModels
@*@using OnlineStore.Models.WebModels
    @model CartViewModels*@


@{
    var controller = this.ViewContext.RouteData.Values["controller"];
    var controllerName = controller.ToString().ToLower();
}
<link href="~/Content/adminlte.min.css" rel="stylesheet" />

<style>
    .cart-S {
        position: relative;
        cursor: pointer;
    }

    .icon-button__badge {
        position: absolute;
        top: 4px;
        right: -22px;
        width: 22px;
        height: 20px;
        background: gold;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    #btnid:hover {
        color: red;
    }

    #cartlist {
        margin-right: 10px;
        cursor: default !important;
    }

    .dropdown-menu {
        overflow: scroll !important;
        width: 580px;
        height: 500px !important;
    }


    .quantity {
        display: inline-block;
    }

        .quantity .input-text.qty {
            width: 35px;
            height: 41px;
            padding: 0 5px;
            text-align: center;
            background-color: white;
            border: 1px solid #2196F3;
            user-select: none;
        }

        .quantity.buttons_added {
            text-align: left;
            position: relative;
            white-space: nowrap;
            vertical-align: top;
            border-color: #2196F3;
        }

            .quantity.buttons_added input {
                display: inline-block;
                margin: 0;
                vertical-align: top;
                box-shadow: none;
            }

            .quantity.buttons_added .minus {
                padding: 7px 10px 8px;
                height: 41px;
                background: #f44336;
                border: 1px solid #2196F3;
                cursor: pointer !important;
            }

            .quantity.buttons_added .plus {
                padding: 7px 10px 8px;
                height: 41px;
                background-color: #04AA6D;
                border: 1px solid #2196F3;
                cursor: pointer !important;
            }

            .quantity.buttons_added .minus {
                border-right: 0;
            }

            .quantity.buttons_added .plus {
                border-left: 0;
            }

            .quantity.buttons_added .minus:hover {
                background: #f44336;
            }

            .quantity.buttons_added .plus:hover {
                background-color: #04AA6D;
            }

        .quantity input::-webkit-outer-spin-button,
        .quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
        }

        .quantity.buttons_added .minus:focus,
        .quantity.buttons_added .plus:focus {
            outline: none;
        }
</style>

<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="~/"><h2>Sony <em>Mart</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @(controllerName  == "home" ? "active":"")">
                        <a class="nav-link" href="~/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item @(controllerName  == "products" ? "active":"")">
                        <a class="nav-link" href="~/products">Our Products</a>
                    </li>
                    <li class="nav-item @(controllerName  == "AboutUs" ? "active":"")">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item @(controllerName  == "ContactUs" ? "active":"")">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>


                    @if (User.Identity.IsAuthenticated)
                    {

                        //CartViewModels products = (CartViewModels)Session["Products"];

                        <li class="nav-item dropdown user-menu">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/" + User.Identity.GetClaimValue(ClaimTypes.Uri))" class="user-image img-circle elevation-2" alt="User Image">
                                <span class="d-none d-md-inline">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <!-- User image -->
                                <li class="user-header bg-primary">
                                    <img src="@Url.Content("~/" + User.Identity.GetClaimValue(ClaimTypes.Uri))" class="img-circle elevation-2" alt="User Image">
                                    <p>
                                        @User.Identity.Name  <br />
                                        @User.Identity.GetClaimValue(ClaimTypes.Role)

                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <small>Member since: @User.Identity.GetClaimValue(ClaimTypes.DateOfBirth)</small>
                                        @*<div class="col-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>*@
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <a href="~/Account/Profile" class="btn btn-default btn-flat">Profile</a>
                                    <a href="~/Account/LogOff" class="btn btn-default btn-flat float-right">Sign out</a>
                                </li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item @(controllerName  == "Account" ? "active":"")">
                            <a class="nav-link" href="~/Account/Register">Register</a>
                        </li>
                        <li class="nav-item @(controllerName  == "Account" ? "active":"")">
                            <a class="nav-link" href="~/Account/Login">Login</a>
                        </li>

                    }
                    <li class="nav-item cart-S">

                    </li>



            </div>
        </div>
    </nav>

</header>

