@using OnlineStore.Helpers
@using System.Security.Claims
@using OnlineStore.Models.WebModels
@using System.Threading


@{
    var controller = this.ViewContext.RouteData.Values["controller"];
    var controllerName = controller.ToString().ToLower();
}
<link href="~/Content/adminlte.min.css" rel="stylesheet" />

<style>
    .cart-S {
        position: relative;
        cursor: pointer;
    }

    .icon-button__badge {
        position: absolute;
        top: 4px;
        right: -22px;
        width: 22px;
        height: 20px;
        background: gold;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    #btnid:hover {
        color: red;
    }

    #cartlist {
        margin-right: 10px;
        cursor: default !important;
    }

    .cart-S > .dropdown > .dropdown-menu {
        overflow: scroll !important;
        width: 580px;
        height: 500px !important;
    }


    .quantity {
        display: inline-block;
    }

        .quantity .input-text.qty {
            width: 35px;
            height: 41px;
            padding: 0 5px;
            text-align: center;
            background-color: white;
            border: 1px solid #2196F3;
            user-select: none;
        }

        .quantity.buttons_added {
            text-align: left;
            position: relative;
            white-space: nowrap;
            vertical-align: top;
            border-color: #2196F3;
        }

            .quantity.buttons_added input {
                display: inline-block;
                margin: 0;
                vertical-align: top;
                box-shadow: none;
            }

            .quantity.buttons_added .minus {
                padding: 7px 10px 8px;
                height: 41px;
                background: #f44336;
                border: 1px solid #2196F3;
                cursor: pointer !important;
            }

            .quantity.buttons_added .plus {
                padding: 7px 10px 8px;
                height: 41px;
                background-color: #04AA6D;
                border: 1px solid #2196F3;
                cursor: pointer !important;
            }

            .quantity.buttons_added .minus {
                border-right: 0;
            }

            .quantity.buttons_added .plus {
                border-left: 0;
            }

            .quantity.buttons_added .minus:hover {
                background: #f44336;
            }

            .quantity.buttons_added .plus:hover {
                background-color: #04AA6D;
            }

        .quantity input::-webkit-outer-spin-button,
        .quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
        }

        .quantity.buttons_added .minus:focus,
        .quantity.buttons_added .plus:focus {
            outline: none;
        }
</style>

<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="~/"><h2>Sony <em>Mart</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @(controllerName == "home" ? "active" : "")">
                        <a class="nav-link" href="~/">
                            @Resources.Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item @(controllerName == "products" ? "active" : "")">
                        <a class="nav-link" href="~/products">@Resources.Our_Products</a>
                    </li>
                    <li class="nav-item @(controllerName == "AboutUs" ? "active" : "")">
                        <a class="nav-link" href="about.html">@Resources.About_Us</a>
                    </li>
                    <li class="nav-item @(controllerName == "ContactUs" ? "active" : "")">
                        <a class="nav-link" href="contact.html">@Resources.Contact_Us</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {

                        //CartViewModels products = (CartViewModels)Session["Products"];

                        <li class="nav-item user-menu" @*style="position:relative"*@>
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/" + User.Identity.GetClaimValue(ClaimTypes.Uri))" class="user-image img-circle elevation-2" alt="User Image">
                                <span class="d-none d-md-inline">@User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu" style="position: absolute; top: 83px; left: 800px; ">
                                <!-- User image -->
                                <li class="user-header bg-primary">
                                    <img src="@Url.Content("~/" + User.Identity.GetClaimValue(ClaimTypes.Uri))" class="img-circle elevation-2" alt="User Image">
                                    <p>
                                        @User.Identity.Name  <br />
                                        @User.Identity.GetClaimValue(ClaimTypes.Role)

                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <small>@Resources.Member_since: @User.Identity.GetClaimValue(ClaimTypes.DateOfBirth)</small>
                                        @*<div class="col-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>*@
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <a href="~/Account/Profile" class="btn btn-default btn-flat">@Resources.Profile</a>
                                    <a href="~/Account/LogOff" class="btn btn-default btn-flat float-right">@Resources.Sign_out</a>
                                </li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item @(controllerName == "Account" ? "active" : "")">
                            <a class="nav-link" href="~/Account/Register">@Resources.Register</a>
                        </li>
                        <li class="nav-item @(controllerName == "Account" ? "active" : "")">
                            <a class="nav-link" href="~/Account/Login">@Resources.Login</a>
                        </li>

                    }

                    <li class="nav-item cart-S @*nav-link*@">

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
                            @{
                                var name = Thread.CurrentThread.CurrentCulture.Name;
                                var icon = string.Empty;
                                var cultureName = string.Empty;
                                if (name == "en-US")
                                {
                                    icon = "flag-icon-us";
                                    cultureName = "English";
                                }
                                else if (name == "ar-SA")
                                {
                                    icon = "flag-icon-sa";
                                    cultureName = "عربى";
                                }
                            }
                            <i class="flag-icon @icon"></i> @cultureName
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-0">
                            <a href="@Url.Action("SetCulture", "Home", new { culture = "en-US"})" class="dropdown-item @(name == "en-US" ? "active" : "")">
                                <i class="flag-icon flag-icon-us mr-2"></i> English
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="flag-icon flag-icon-de mr-2"></i> German
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="flag-icon flag-icon-es mr-2"></i> Spanish
                            </a>
                            <a href="@Url.Action("SetCulture", "Home", new { culture = "ar-SA"})" class="dropdown-item @(name == "ar-SA" ? "active" : "")">
                                <i class="flag-icon flag-icon-sa mr-2"></i> عربى
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

