<div class="filters">
    <ul>
        <li class="active" data-filter="*">@Resources.ALL_PRODUCTS</li>
        <li data-filter=".des">@Resources.FEATURED</li>
        <li data-filter=".dev">@Resources.FLASH_DEALS</li>
        <li data-filter=".gra">@Resources.LAST_MINUTE</li>
        @if (User.IsInRole("Admin")) {
        <li>@Html.ActionLink("Add new product", "Create","Products")</li>
        }
    </ul>
</div>
