@using OnlineStore.Models.WebModels
@using OnlineStore.Helpers
@using System.Security.Claims


@model CartViewModels

@{
    //Layout = null;
}

@{
    var controller = this.ViewContext.RouteData.Values["controller"];
    var controllerName = controller.ToString().ToLower();
}
<link href="~/Content/adminlte.min.css" rel="stylesheet" />


@*@Html.Partial("_Header")*@

<h1>@Resources.CheckoutProcedure</h1>
@{

    if (Model.UserCartProducts != null && Model.UserCartProducts.Count > 0)
    {

        <div class="cartDiv">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Resources.Image
                    </th>
                    <th>
                        @Resources.Name
                    </th>
                    <th>
                        @Resources.Price
                    </th>
                    <th>
                        @Resources.Quantity
                    </th>
                    <th>
                        @Resources.Total
                    </th>
                </tr>
                <tbody>
                    @foreach (var product in Model.UserCartProducts)
                    {
                        var productQuantity = Model.CartProductIDS.Where(productid => productid == product.Id).Count();
                        <tr id="PId_@product.Id">
                            <td>
                                <img src="@Url.Content("~/" + @product.PImage)" class="" style="width:50px;height:50px" alt="User Image">
                            </td>
                            <td>@product.PName</td>
                            <td>@product.SellPrice</td>
                            <td>
                                @*@productQuantity*@
                                <div class="quantity buttons_added">
                                    @productQuantity
                                    @*<input type="button" value="-" class="minus"><input type="number" readonly data-id="@product.Id" data-price="@product.SellPrice" step="1" min="1" max="" name="quantity" value="@productQuantity" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">*@
                                </div>
                            </td>
                            <td><span class="Total-Price__View">@(product.SellPrice * productQuantity)</span> @*<button type="button" class="close xBtn" style="color: red; font-size: 25px; margin-top: 8px; margin-right: -10px; font-family: 'Poppins'; font-weight: 800; " aria-label="Close" data-idd="@product.Id" data-quantity="@productQuantity"><span aria-hidden="false">&times;</span></button>*@</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="Total_Bill">
            <b style="font-size: 18px; padding: 0.3em; ">@Resources.Total_Bill: </b><span id="Bill" style="font-size: 18px;"> @Model.UserCartProducts.Sum(x => x.SellPrice * Model.CartProductIDS.Where(productid => productid == x.Id).Count())</span>
        </div>
        @*<div>
                <button id="Pay-P-Btn" class="Paytbtn" style="margin-left: 205px;">@Resources.Pay_Now</button>
            </div>*@

        <form action="/Home/Charge" method="POST">
          @{ 
              var totalPrice = Model.UserCartProducts.Sum(x => x.SellPrice * Model.CartProductIDS.Where(productid => productid == x.Id).Count());
          }
            <input type="hidden" name="totalPrice" value="@(totalPrice.ToString().Replace(".",""))" />
            <script src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="@ViewBag.StripePublishKey"
                    data-locale="auto"
                    data-currency = "usd"
                    data-description="Sample Charge"
                    data-amount="@(totalPrice.ToString().Replace(".",""))">
            </script>
        </form>
    }


    else
    {

    }
}
