@model OnlineStore.Models.Product



<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All Products</li>
                        <li data-filter=".des">Featured</li>
                        <li data-filter=".dev">Flash Deals</li>
                        <li data-filter=".gra">Last Minute</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                      
                            <div class="col-lg-4 col-md-4 all des" style="position: absolute; left: 0%; top: 0px;">
                                <div class="product-item">
                                    <a href="@Url.Action("Details","Products",new { id = Model.Id})">
                                        <img class="img-fluid img-thumbnail" style="height: 165px;" src="@(string.IsNullOrEmpty(Model.PImage) ? Url.Content("~/Images/DPI.png") : Url.Content(Model.PImage))" alt="">
                                    </a>
                                    <div class="down-content">
                                        <a href="@Url.Action("Details","Products",new { id = Model.Id})">
                                            <h4 style="color:forestgreen;cursor:pointer">@Model.PName</h4>
                                        </a>
                                        <h6>$ @Model.SellPrice</h6>
                                        <p>@Model.Description</p>
                                        <div>
                                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })

                                        </div>
                                        <span>Reviews (12)</span>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

